@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html {
  animation: rainbow_background 5s linear infinite;
  background-image: url('images/dancing_potato.gif');
  cursor: url('images/cursor.svg') 0 0, default !important;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

body::before {
  background-image: url('images/dancing_potato.gif'), url('images/dancing_potato.gif'), url('images/dancing_potato.gif');
  background-position: 0 0, 300px 249px, 81px 174px;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

section {
  background-color: rgba(240, 240, 240, 0.9);
  border-bottom: 10px solid #888;
  border-left: 10px solid #888;
  border-right: 10px solid #FFF;
  border-top: 10px solid #FFF;
  margin: 1em 0;
  padding: 1em;
}

a {
  animation: rainbow_border 1s linear infinite;
  color: #000;
}

body::before::before {
  animation: rainbow_background 1s linear infinite;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

body {
  margin: auto;
  max-width: 80em;
  padding: 2em;
  text-shadow: 0 0 2px #FFF, 0 0 2px #FFF, 0 0 2px #FFF, 0 0 2px #FFF;
}

h1 {
  animation: rainbow_border 1s linear infinite;
}

.logo {
  float: left;
  height: 10em;
  margin-right: 1em;
}

.event-table {
  border-collapse: collapse;
  white-space: nowrap;
  width: 100%;
}

.event-table td {
  border-top: 1px solid #666;
}

.event-table img {
  width: 100%;
}

::selection {
  background-color: black;
  color: white;
  text-shadow: none;
}

@keyframes rainbow_border {
  0% {
    text-shadow: 0 0 4px #F00;
  }
  17% {
    text-shadow: 0 0 4px #FF0;
  }
  33% {
    text-shadow: 0 0 4px #0F0;
  }
  50% {
    text-shadow: 0 0 4px #0FF;
  }
  67% {
    text-shadow: 0 0 4px #00F;
  }
  83% {
    text-shadow: 0 0 4px #F0F;
  }
  100% {
    text-shadow: 0 0 4px #F00;
  }
}

@keyframes rainbow_background {
  0% {
    background: #F002;
  }
  17% {
    background: #FF02;
  }
  33% {
    background: #0F02;
  }
  50% {
    background: #0FF2;
  }
  67% {
    background: #00F2;
  }
  83% {
    background: #F0F2;
  }
  100% {
    background: #F002;
  }
}
